<p>
  Before you start. Here is the TODO list:<br />
  1> Go to config.js and edit mongoDB dburi, session secret, and port if needed<br />
  2> Add config.js to .gitignore to protect your passwords<br />
  3> Go to routes/default.js and delete flash testing. It is there just so you know it's implemented. 
</p>