<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>CS61AS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/iconic.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </head>
  <body>
    <div id="top"></div>
    <%-partial('partials/header.ejs')%>
    <%-partial('partials/footer.ejs')%>
  </body>
</html>
