<div id="loginform">
  <form method="post" action="/login">
    <span class="left noselect">username</span>
    <input type="text" class="right" name='user[username]'% />
    <br>
    <span class="left noselect">password</span>
    <input type="password" class="right" name='user[password]'% />
    <br>
    <div id="checkbox">
      <input type="checkbox" class="checkbox" name="user[rememberme]"/>
      <div class="noselect small">
        remember me
      </div>
    </div>
    <div class="clear"></div>
    <button class="mybutton left noselect" id="submitlogin">
      Login
    </button>
  </form>
  <div class="clear"></div>
</div>
